/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
assets/package-lock.json
assets/node_modules
priv/static/assets
tmp/
node_modules/

*-lock.json
*.lock

priv/static/cache_manifest.json
priv/static/favicon-*.ico
priv/static/robots-*.txt
priv/static/robots-*.gz
priv/static/robots.txt.gz
priv/static/security.txt.gz
priv/static/security-*
priv/static/swagger.json
.env-dev
.vim
__pycache__
